
<router-outlet></router-outlet>
<section class="header">
  
   
  


  <nav>
    
    <a href="" routerLink="/dashboard">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <img src="/assets/images.png"
                         
              height="150px" width="150px" style="border-radius: 50%;" alt="...">

             
          </div>
          
        </div>
      </div>
    </a>
  
   

    <div class="nav-links" id="navLinks">
      <div>
        <button mat-stroked-button color="accent" routerLink="">LogOut<mat-icon>login</mat-icon></button>
     </div>
      <div class="d-flex">
        <ul>
          <li><a href="" routerLink="/reservation">BOOKING DETAILS</a></li>
          <br>

          <li><a href="" routerLink="/room">ROOM DETAILS</a></li>
          <br>

          <li><a href="" routerLink="/dept">DEPARTMENT DETAILS</a></li>
          <br>

          <!-- <li><a href="" routerLink="/inventory">INVENTORY DETAILS </a></li> -->

          <li><a href="" routerLink="/staff">STAFF DETAILS</a></li>
            <br>

          <li><a href="" routerLink="/guest">GUEST DETAILS</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="text-box">
    
    <p style="color:rgb(71, 243, 71)">WELCOME......</p>
    <br>
    <P style="color:rgb(48, 240, 48)"> to Admin .</P>
    <br ><p style="color:rgb(50, 219, 50)">Pleasure to meet you...</p><br>
    
  </div>


</section>