<section class="contact-us">
    <h1 >CONTACT US</h1>
<br>
<br>
    <div class="row">
        <div class="contact-col">
            <div class="abc">
                <div class="image">
                    <img class="img-circle" src="assets/m1.webp"style="width:200px"alt="">
                    <h3>Owner:Mounika </h3>
                    <h3>Contact:9010205674</h3>
                    <h3> Email:mounika@gmail.com</h3>
                </div>
            <div>
                <i class="fa fa-home"></i>
                <span>
                  <h6>Address:</h6>
                  <h5>Khammam,MamillaGudem</h5>
                  <p>Telangana,India</p>
              </span>
              </div>
              <div>
                  <i class="fa fa-phone"></i>
              <span>
                  <h6>Mobile Number : </h6>
                  <h5>+91 7327054275</h5>
                  <h6>Timings :</h6>
                  <p>Everyday, 10AM to 12PM</p>
              </span>
              </div>
              <div>
                  <i class="fa fa-envelope-o"></i>
              <span>
                  <h6>Email Address :</h6>
                  <h5>hotel123@gmail.com</h5>
                  <p>(  Email us your query  )</p>
              </span>
            </div>
            </div>
        </div>
        </div>
    </section>
  
