
  <div class="pimg1">
     <div class="ptext">
        <span class="border">
           Hotel Website
        </span>
    </div> 
  </div>
  <section class="section section-drak">
    <h2>Hotel Management</h2>
    <p>
      Complimentary deluxe continental breakfast and wine receptions at our rooftop terrace. 
      Experience true comfort and value in the heart of downtown San Francisco. Book Now.
    </p>
    </section>
    <div class="pimg2">
      <div class="ptext">
          <span class="border tranf">
            The outlook of hotel
          </span>
      </div>
  </div>
  <section class="section section-drak">
      <h2>Booking system</h2>
      <p>
        Book Now, Pay When You Stay. List Your Property. Register Online. Sign Up For Deals. Become An Affiliate.
         Highlights: Press Center Available, Customer Service Available, Make Changes Online To Your Booking.
       
      </p>
      </section>
      <div class="pimg3">
          <div class="ptext">
              <span class="border trans">
                The Hotel
              </span>
          </div>
      </div>
      <section class="section section-drak">
          <h2>About Hotel</h2>
          <p>
            Find the Best Great Hotels for You on Hotels.com. Browse Reviews & Photos. Great Deals to Send Your Loved Ones Somewhere Nice and Close or Far. Your Choice.
             Recommended Destinations. Family-Friendly Options. Enjoy Your Home Comforts. Real Customer Reviews.
           
          </p>
          </section>
          <div class="pimg1">
              <div class="ptext">
                  <span class="border">
                      Hotel website
                  </span>
              </div>
          </div>
