


<mat-toolbar  class='navbar' color='primary'>

    <div>
      Hotel
      <mat-icon> local_hotel</mat-icon>
  </div>
    <div>
        <a mat-stroked-button  routerLink=""> <mat-icon>home</mat-icon>Home</a>
     
      <button mat-stroked-button routerLink="/booking"><mat-icon>room</mat-icon>Room Booking</button>
   
      <a mat-stroked-button  routerLink="/aboutus"> <mat-icon> list_alt</mat-icon>About Us</a>
      <button mat-stroked-button routerLink="/contactus">	<mat-icon>portrait</mat-icon>Contactus</button>
      <button mat-stroked-button routerLink="/login">Login<mat-icon>login</mat-icon></button>
    </div>
    
  </mat-toolbar>

  
